:root {
  --light: #FAFAFA;
  --light-border: #F5F5F5;
  --light-border-1: #F2F3F2;
  --dark: #AFAFAF;
  --default-border-radius: 0.5rem;
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
}

main, footer {
  padding: 2rem;
}

.schema-container {
  padding: 0.5rem 1rem;
  border: 2px solid var(--light-border);
  border-radius: var(--default-border-radius);
  background-color: var(--light);
}

.schema-type {
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--light-border);
  border-radius: var(--default-border-radius);
  background-color: var(--light);
}

.list-no-style {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
    margin-bottom: 0.3rem;
  }
}

ul li code,
footer code {
  display:inline-block;
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--light-border);
  border-radius: var(--default-border-radius);
  background-color: var(--light);
}


a.btn {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--light-border);
  border-radius: var(--default-border-radius);
  background-color: transparent;
  text-decoration: underline dotted;
}
a.btn:hover {
  text-decoration: underline;
}

pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.entity-data:has(script:target) {
  padding: 0.25rem 0.25rem;
  border: 2px solid var(--dark);
  border-radius: calc(var(--default-border-radius) * 1.4);
  border-left-color: var(--dark);
  background-color: transparent;
}

.entity-data .fixed {
  width: 9em;
}


.text-center {
  text-align: center;
}
